
body{
    background-color: #e6f9f9;
    display: flex;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    background-color:linear-gradient(90deg, #0ab1b1, #00c9a7);
    position: sticky;
    top: 0;
    z-index: 1000;
}
.navbar ul{
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    
}
.navbar h1{
    display: flex;
    flex-wrap: wrap;


    
}
.home{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    width: 100%;
    text-align: center;
    margin-bottom: auto;

}
.home-text{
 display: flex;
 flex-wrap: wrap;
}

.home-image img{
    width: 200px;
    height: 150px;
    margin-bottom: auto;
}
.event-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}
.about{
    height: auto;
    width: 100%;
    text-align: center;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;

}
.events {
  flex-direction: column;
}

.events div {
  width: 90%;
}




   /* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  /* Home section */
  .Home {
    flex-direction: column;
    height: auto;
    text-align: center;
  }

  .home-text, .home-image {
    width: 100%;
    margin: 10px 0;
  }

  .home-image img {
    width: 90%;
    height: auto;
  }

  /* Event section */
  .event-list {
    height: auto;
    padding: 20px;
  }

  .events {
    flex-direction: column;
    align-items: center;
  }

  .tech img, .cultural img, .sports img {
    width: 90%;
    height: auto;
    margin-bottom: 20px;
  }

  /* About section */
  .about {
    height: auto;
    font-size: 18px;
  }

  .about p {
    width: 100%;
    padding: 10px;
  }

  /* Contact form */
  .contact {
    height: auto;
    padding: 20px;
  }

  .contact form {
    width: 90%;
    height: auto;
  }

  /* Navbar */
  .navbar ul {
    flex-direction: column;
    font-size: 20px;
    align-items: center;
  }

  .navbar h1 {
    font-size: 28px;
    text-align: center;
  }
}
